boto3
botocore
certifi==2018.10.15
chardet==3.0.4
Django
django-admin-tools
django-storages
docutils
idna==2.7
jmespath==0.9.3
mysqlclient
nltk==3.3
python-dateutil
python-dotenv
pytz
requests
s3transfer
six
urllib3
uuid
whitenoise
django-crispy-forms
Pillow
image
djangorestframework
django-cors-headers