{% extends 'frontend/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block format %}
<div class="page-header header-filter" filter-color="orange">
    <div class="page-header-image" style="background-image:url(../static/images/login.jpg)"></div>
    <div class="content">
      <div class="container">
        <div class="col-md-5 ml-auto mr-auto">
          <div class="card card-login card-plain">
            <form class="form" method="" action="">
                    <div class = 'content-section'>
                        <form method = 'POST'>
                            {% csrf_token %}
                            <fieldset class = 'form-group'>
                                <legend class = 'border-bottom mb-4'>Log In</legend>
                                {{form|crispy}}
                            </fieldset>
                            <div class='form-group'>
                                <button class="btn btn-primary btn-round btn-lg btn-block" type='submit'>Login</button>
                                <div class="pull-right">
                                <h3>
                                <small class="text-muted ml-2">
                                    <a class='link footer-link' href = {% url 'password_reset' %}>Forgot Password?</a></button>
                                </small></h3>
                                </div>
                                <div class="pull-left">
                                <h3>
                                    <small class ='text-muted'>
                                        <a class='link footer-link' href={% url 'register' %}>Sign up</a>
                                    </small>
                                </h3>
                                </div>
                            </div>
                        </form>

                    </div>
                <br><br><br>
                </form>
          </div>
        </div>
      </div></div></div>
    </div>

{% endblock %}
