{% extends 'frontend/base.html' %}
{% load crispy_forms_tags %}
{% block format %}
<body class="login-page sidebar-collapse">
<!-- <<<<<<< HEAD -->

  <!-- End Navbar -->
<!-- ======= -->
<!-- >>>>>>> 50f2511cc2d5600a2a1bc6328cdbccea83f32c11 -->
  <div class="page-header header-filter" filter-color="orange">
    <div class="page-header-image" style="background-image:url(../static/images/login.jpg)"></div>
    <div class="content">
      <div class="container">
        <div class="col-md-5 ml-auto mr-auto">
          <form method = 'POST'>
            {% csrf_token %}
            <fieldset class = 'form-group'>
              <legend class = 'border-bottom mb-4'>Reset Password</legend>
              {{form|crispy}}
            </fieldset>
            <div class='form-group'>
              <button class='btn btn-outline-info' type='submit'>Request Password Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock format %}
