{% extends 'frontend/base.html' %}
{% load crispy_forms_tags %}

{% block format %}
<body class="login-page sidebar-collapse">
<!-- <<<<<<< HEAD -->

  <!-- End Navbar -->
<!-- ======= -->
<!-- >>>>>>> 50f2511cc2d5600a2a1bc6328cdbccea83f32c11 -->
  <div class="page-header header-filter" filter-color="white">
    <div class="page-header-image" style="background-image:url(../static/images/login.jpg)"></div>
    <div class="content">
      <div class="container">
        <div class="col-md-5 ml-auto mr-auto" style="background:#333333cc">
          <form method = 'POST'>
            {% csrf_token %}
            <fieldset class = 'form-group'>
              <legend class = 'border-bottom mb-4'>Join Today!</legend>
              {{form|crispy}}
            </fieldset>
            <div class='form-group'>
              <button class="btn btn-danger" type='submit'>Sign Up</button>
            </div>
          </form>
            <small class ='text-muted'>
              Already Have An Account?<a class='ml-2' href={% url 'login' %}>Sign in</a> here
            </small>

        </div>
      </div>
    </div>
  </div>
</body>

{% endblock format %}
