{% extends 'frontend/user_interaction.html' %}
{% load static %}
{% block title %}About Us{% endblock %}

{% block form %}

    <div class="description text-center">
    <p style="color:black; padding-right: 15px; padding-left: 15px; text-align: justify;">
        Sounds shape the way we feel and see the world, yet we don’t often stop and listen, much less share and collect the sounds that surround us. 
        <br><br>
        Do you remember the sound of dial-up internet? What about the whistle of an old kettle, the sound of the coffee machine at your favourite café, the no-sound of a silent elevator, a wine cork popping, the sound of the bus pulling up or the garbage bins being emptied, or a walk around the block, or a revolving door, or the tolling of bells... all these sounds are associated with emotions and memory, as well as smells, touch and feeling.
        <br><br>
        The Museum of Sound allows you to share sounds, as well as sharing your stories about why these sounds are meaningful to you.
        <br><br>
        Get involved by recording a short sound clip on the 'Record a Sound' page and telling us why the sound matters to you!
        <br><br>
        The Museum of Sound is curated and created by Dr. Sarah Collins, UWA and developed as a project for computer science students in CITS3200, Semester 2, 2018.
     </br></br>

     <Strong>
      The Team:</br>
    </Strong>
    Robert Banks</br>
    Lachlan Campbell</br>
    Connor Flanagan</br>
    Larry Huynh</br>
    Sanath More</br>
    </p>
    <br>
    <br>

{% endblock %}
