{% extends 'frontend/base.html' %}
{% block format %}
{% load static %}

<div class="wrapper">


  {% block tagnav %}
   {% include "frontend/tagNavigation.html" %}
  {% endblock %}
  <div class="content-center">
        <div class="container">
          <h3 class="title">Looking for something more specific?</h3>
          <div>
            <form id="searchform" maxlength="150" action="{% url 'search_tag' %}" method="get" accept-charset="utf-8">
              <div class="form-group">
                <div class="text-left">
                  <h5>Search titles:</h5>
                </div>
                <input type="text" class="form-control" name="title" placeholder="Search titles...">
              </div>
              <br>
              <div class="form-group">
                <div class="text-left">
                  <h5>Search tags:</h5>
                </div>
                <input type="text" class="form-control" name="tag" placeholder="Search tags...">
              </div>
              <input class="btn btn-danger" type="submit" value="Search">

            </form>
          </div>
        </div>
      </div>

</div>

{% endblock %}