{% extends 'frontend/base.html' %}
{% block format %}
{% load static %}

<div class="wrapper">
    <div class="page-header dark-overlay">
      <div class="page-header-image" data-parallax="true" style="background-image: url('../static/images/mosuwa.jpg');"></div>
      <div class="container">
        <div class="content-center brand">
          <br/><br/>
          <img class="n-logo" src="../static/images/logo.png" alt="">
          <div class="col-md-10 ml-auto mr-auto text-center">
            <h4 class="description">Sounds shape the way we feel and see the world, yet we don't often stop and listen. <br />
              The Museum of Sound allows you to share the sounds you hear and tell the stories that come with them.</h4>
            <a class="btn btn-danger btn-round" href="{% url 'user_record' %}">Record Your Sound </a>
            <br>
            <h5>Connect with us on:</h5>
            <a href="" class="btn btn-icon btn-round">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a href="" class="btn btn-icon btn-round">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="btn btn-icon btn-round">
              <i class="fab fa-google-plus"></i>
            </a>
            <!--<a href="{% url 'login' %}" class="btn">
                    Register
                  </a>-->
          </div>
        </div>
      </div>
    </div>
    <div class="section section-about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h3 class="title">What is the Museum of Sound?<br></h3>
            <h4 class="<title2"> Do you remember the sound of dial-up internet? The sound of the coffee machine at your favourite café?
                All of these sounds are associated with emotions and memory.
                <br>
                <br>
                The Museum of Sound allows you to share sounds, as well as sharing your stories about why these sounds are meaningful to you.
                <br>
                <br>
                Get involved by recording a short sound clip, and explain why this sound matters to you.</h4>
            <h5 class="description"></h5>
          </div>
        </div>
        <div class="separator separator-primary"></div>
        <div class="section-story-overview">
          <div class="row">
            <div class="col-md-6">
              <!-- First image on the left side -->
              <div class="image-container image-left" style="background-image: url('../static/images/mosimage1.jpg')">
              </div>
            </div>
            <div class="col-md-5">
              <!-- First image on the right side, above the article -->
              <div class="image-container image-right" style="background-image: url('../static/images/mosimage2.jpg')"></div>

              <p>

              </p>
              <p>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% block tagnav %}
   {% include "frontend/tagNavigation.html" %}
  {% endblock %}
    {% if user.is_authenticated %}
    
{% else %}
    <div class="section section-contact-us text-center">
      <div class="container">
        <h2 class="title">Join us</h2>
        <p class="description">Tell us about the sounds that move you.</p>
        <div class="row">
          <div class="col-lg-6 text-center ml-auto mr-auto col-md-8">
            <div class="send-button">
              <a href={%url 'register'%} class="btn btn-primary btn-round btn-block btn-lg">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}
