{% extends 'frontend/base.html' %}
{% block format %}
{% load static %}

<div class="wrapper">
    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="true" style="background-image: url('../assets/img/bg26.jpg');">
      </div>
      <div class="content-center">
        <div class="container">
          <h1 class="title">The Museum of Sound</h1>
          <div class="text-center">
            <a href="#pablo" class="btn btn-primary btn-icon btn-round">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a href="#pablo" class="btn btn-primary btn-icon btn-round">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#pablo" class="btn btn-primary btn-icon btn-round">
              <i class="fab fa-google-plus"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">What is the Museum of Sound?</h2>
            <h5 class="description">Sounds shape the way we feel and see the world, yet we don't often stop and listen.
                The Museum of Sound allows you to share the sounds you hear and tell the stories that come with them.</h5>
          </div>
        </div>
        <div class="separator separator-primary"></div>
        <div class="section-story-overview">
          <div class="row">
            <div class="col-md-6">
              <!-- First image on the left side -->
              <div class="image-container image-left" style="background-image: url('../assets/img/bg38.jpg')">
              </div>
              <!-- Second image on the left side of the article -->
              <div class="image-container image-left-bottom" style="background-image: url('../assets/img/bg24.jpg')"></div>
            </div>
            <div class="col-md-5">
              <!-- First image on the right side, above the article -->
              <div class="image-container image-right" style="background-image: url('../assets/img/bg39.jpg')"></div>
              <h3>So what does the new record for the lowest level of winter ice actually mean</h3>
              <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
              </p>
              <p>
                For a start, it does not automatically follow that a record amount of ice will melt this summer. More important for determining the size of the annual thaw is the state of the weather as the midnight sun approaches and temperatures rise. But over the more than 30 years of satellite records, scientists have observed a clear pattern of decline, decade-by-decade.
              </p>
              <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="testimonials-1 section-image" style="background-image: url('../assets/img/bg19.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto text-center">
            <h2 class="title">Browse Sounds</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-testimonial">
              <div class="card-body">
                <p class="card-description">
                  replace with a relevant image here
                </p>
              </div>
              <div class="icon icon-primary">
                <i class="fa fa-quote-right"></i>
              </div>
              <div class="card-footer">
                <h4 class="card-title">Nature</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-testimonial">
              <div class="card-body">
                <p class="card-description">
                  replace with relevant image here
                </p>
              </div>
              <div class="icon icon-primary">
                <i class="fa fa-quote-right"></i>
              </div>
              <div class="card-footer">
                <h4 class="card-title">Animals</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-testimonial">
              <div class="card-body">
                <p class="card-description">
                  replace with relevant image here
                </p>
              </div>
              <div class="icon icon-primary">
                <i class="fa fa-quote-right"></i>
              </div>
              <div class="card-footer">
                <h4 class="card-title">Urban</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-contact-us text-center">
      <div class="container">
        <h2 class="title">Join us</h2>
        <p class="description">Tell us about the sounds that move you.</p>
        <div class="row">
          <div class="col-lg-6 text-center ml-auto mr-auto col-md-8">
            <div class="input-group input-lg">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="First Name...">
            </div>
            <div class="input-group input-lg">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Email Here...">
            </div>
            <div class="textarea-container">
              <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
            </div>
            <div class="send-button">
              <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Join</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}