{% extends 'frontend/user_interaction.html' %}

{% block title %}Sign up{% endblock %}
{% block form %}
  <form method="post">
    {% csrf_token %}

    <div class="row">
      <div class="col-8 mx-auto">
        <div class="text-center">
          <div class="form-group">
            <label for="id_username">Username</label>
            <input type="text" class="form-control" name="username" maxlength="150" autofocus required id="id_username">
            <small style="color: grey">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>
          </div>
          <div class="form-group">
            <label for="id_first_name">First Name</label>
            <input type="text" class="form-control" name="first_name" maxlength="150" required id="id_first_name">
            <small style="color: grey">Optional.</small>          
          </div>
          <div class="form-group">
            <label for="id_last_name">Last Name</label>
            <input type="text" class="form-control" name="last_name" maxlength="150" required id="id_last_name">
            <small style="color: grey">Optional.</small>          
          </div>
          <div class="form-group">
            <label for="id_email">Email</label>
            <input type="email" class="form-control" name="email" maxlength="254" required id="id_email">
            <small style="color: grey">Optional.</small>          
          </div>
          <div class="form-group">
            <label for="id_password1">Password</label>
            <input type="password" class="form-control" name="password1" maxlength="150" required id="id_password1">
            <small style="color: grey"></small>
            <br>
            <ul style="text-align: left">
              <li>
                <small style="color: grey">
                  Your password can't be too similar to your other personal information.
                </small>
              </li>
              <li>
                <small style="color: grey">Your password must contain at least 8 characters.</small>
              </li>
              <li>
                <small style="color: grey">Your password can't be a commonly used password.</small>
              </li>
              <li>
                <small style="color: grey">Your password can't be entirely numeric.</small>
              </li>
            </ul>
          </div>
          <div class="form-group">
            <label for="id_password2">Confirm password</label>
            <input type="password" class="form-control" name="password2" maxlength="150" required id="id_password2">
          </div>
          <button type="submit" class="btn btn-primary btn-round">Sign Up</button>
          <br>
          <br>
        </div>
        
      </div>

      
    </div>
    




    
  </form>
{% endblock %}
