
{% extends 'frontend/user_interaction.html' %}

{% load static %}
{% block format %}
<div class="wrapper">
<div class="contactus-1 section-image" style="background-image: url('../static/images/bg51.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2 class="title text-left">Upload a Sound</h2>
        <h4 class="description">Have something you'd like to share? Use this tool to upload your sound.</h4>
        <div class="info info-horizontal">
          <div class="icon icon-primary">
            <i class="now-ui-icons location_pin"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Choose File</h4>
            <p class="description"> Select a file to upload using 'Choose file'.
            </p>
          </div>
        </div>
        <div class="info info-horizontal">
          <div class="icon icon-primary">
            <i class="now-ui-icons tech_mobile"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Upload</h4>
            <p class="description"> By uploading, you acknowledge this recording is your own work,
              and as the copyright holder of this work you irrevocably grant anyone the
                right to use this work under the Creative Commons Attribution 4.0.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-5 ml-auto mr-auto">
        <div class="card card-contact card-raised">
          <label for="desc">
                  <form method="POST" enctype="multipart/form-data" class="upload-form">{% csrf_token %}
                      <div class="card-header text-center">
                    <h4 class="card-title"></h4>
                  </div>
                      <div class="card-body">
                      <div class="form-group">
                          <label for="title">Title</label>
                      <textarea class="form-control" id="title" rows="1" maxlength="25"></textarea><br>
                          <label for="desc" class="bmd-label-static">Description (max. 255 characters)</label>
                            <textarea type="text" class="form-control" maxlength="255" required id="id_description" rows="3" name = "description" cols="100"></textarea>
                            <br>
                      <label for="tags">Tags</label>
                      <textarea class="form-control" id="tags" rows="1" maxlength="50"></textarea>
                      </div>
                      <br>
                      {{ form.audio_file }}

                      <br>
                      <br>

                      <button type="submit" class="save btn btn-default">Upload file</button>

                  </form></label>
          </div>
        </div>
    </div>
  </div></div></div>




<!--
          <form role="form" id="contact-form1" method="post">
            <div class="card-header text-center">
              <h4 class="card-title">Contact Us</h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 pr-2">
                  <label>First name</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="First Name..." aria-label="First Name..." autocomplete="given-name">
                  </div>
                </div>
                <div class="col-md-6 pl-2">
                  <div class="form-group">
                    <label>Last name</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                      </div>
                      <input type="text" class="form-control" placeholder="Last Name..." aria-label="Last Name..." autocomplete="family-name">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Email address</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                  </div>
                  <input type="email" class="form-control" placeholder="Email Here..." autocomplete="email">
                </div>
              </div>
              <div class="form-group">
                <label>Your message</label>
                <textarea name="message" class="form-control" id="message" rows="6"></textarea>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox">
                      <span class="form-check-sign"></span>
                      I'm not a robot
                    </label>
                  </div>
                </div>
                <div class="col-md-6">
                  <button type="submit" class="btn btn-primary btn-round pull-right">Send Message</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- <div class="description text-center">
<label for="desc">
        <form method="POST" enctype="multipart/form-data" class="upload-form">{% csrf_token %}

            <br>
            <br>
            <div class="form-group">
                <label for="desc" class="bmd-label-static">Description (max. 255 characters)</label>
                  <textarea type="text" class="form-control" maxlength="255" required id="id_description" rows="3" name = "description" cols="100"></textarea>
            </div>
            <br>
            {{ form.audio_file }}

            <br>
            <br>

            <button type="submit" class="save btn btn-default">Submit file</button>

        </form></label>
        -->

{% endblock %}
