
{% extends 'frontend/user_interaction.html' %}

{% load static %}
{% block format %}
<div class="wrapper">
<div class="contactus-1 section-image" style="background-image: url('../static/images/mosimage1.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2 class="title text-left">Upload a Sound</h2>
        <h4 class="description">Have something you'd like to share? Use this tool to upload your sound.</h4>
        <div class="info info-horizontal">
          <div class="icon icon-primary">
            <i class="now-ui-icons location_pin"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Choose File</h4>
            <p class="description"> Select a file to upload using 'Choose file'.
            </p>
          </div>
        </div>
        <div class="info info-horizontal">
          <div class="icon icon-primary">
            <i class="now-ui-icons tech_mobile"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Upload</h4>
            <p class="description"> By uploading, you acknowledge this recording is your own work,
              and as the copyright holder of this work you irrevocably grant anyone the
                right to use this work under the Creative Commons Attribution 4.0.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-5 ml-auto mr-auto">
        <div class="card card-contact card-raised">
          <label for="desc">
                  <form method="POST" enctype="multipart/form-data" class="upload-form">{% csrf_token %}
                      <div class="card-header text-center">
                    <h4 class="card-title"></h4>
                  </div>
                      <div class="card-body">
                      <div>
                      {{ form.audio_file }}
                      10MB limit
                      </div>

                      <br>
                      <div class="form-group">

                      <br>
                          <label for="title">Title</label>
                            <textarea class="form-control" id="id_title" required name = "title"rows="1" maxlength="25"></textarea><br>
                          <label for="desc" class="bmd-label-static">Description (max. 255 characters)</label>
                            <textarea type="text" class="form-control" maxlength="255" required id="id_description" rows="3" name = "description" cols="100" placeholder="Describe what this sound means to you..."></textarea>
                            <br>
                          {% comment %} <label for="taglist">Tags</label>
                          <span class="select-tag"></span> {% endcomment %}
                      {% comment %} <textarea class="form-control" id="id_taglist" name ="taglist" rows="1" maxlength="50"></textarea> {% endcomment %}
                          <br>
                          <label for="location">Location</label>
                          <textarea class="form-control" id="id_location" name= "location" rows="1" maxlength="50"></textarea>
                          <br>
                      </div>

                      <button type="submit" class="save btn btn-default">Upload file</button>
                      </div>
                  </form></label>
          </div>
        </div>
    </div>
  </div></div></div>

<script src="{% static 'js/plugins/js.cookie.js' %}"></script>
<script src="{% static 'js/slm/dist/bundle.min.js' %}"></script>
<script src="{% static 'js/choices.js' %}"></script>
<script>
  var tags = multi.value();

  var fd = new FormData();
  fd.append("tags", tags);
  $.ajax({
      type: "POST",
      url: "/sound/upload",
      data: fd,
      processData: false,
      contentType: false,
    }).done(function (data) {
      console.log(data);
    });
</script>

{% endblock %}
