<div class="tagNavCon" style="background-image: url('../static/images/mosezone.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="col-md-6 ml-auto mr-auto text-center">
      <h2 class="title" style="color:white">Explore</h2>
    </div>
      <div class="hs full no-scrollbar dragscroll">
          <li class="item">
              <div class="card card-testimonial">
              <img class="card-img-top" src="../static/images/mosimagenature.jpg" alt="Card image cap">
                  <a href="{% url 'tag' tag='Nature' %}" class="card-link">
              <div class="card-footer">
                <h4 class="card-title">#Nature</h4>
              </div>
                  </a>
            </div>

          </li>
          <li class="item">
              <div class="card card-testimonial">
                  <img class="card-img-top" src="../static/images/mosanimals.jpg" alt="Card image cap">
                  <a href="{% url 'tag' tag='Animals' %}" class="card-link">
                      <div class="card-footer">
                        <h4 class="card-title">#Animals</h4>
                      </div>
                  </a>
              </div>
          </li>
          <li class="item">
            <div class="card card-testimonial">
              <img class="card-img-top" src="../static/images/mosurban.jpg" alt="Card image cap">
                <a href="{% url 'tag' tag='Urban' %}" class="card-link">
                  <div class="card-footer">
                    <h4 class="card-title">#Urban</h4>
                  </div>
                </a>
            </div>
          </li>
          <li class="item">
            <div class="card card-testimonial">
              <img class="card-img-top" src="../static/images/bg4.jpg" alt="Card image cap">
                <a href="{% url 'tag' tag='Shoal' %}" class="card-link">
                  <div class="card-footer">
                    <h4 class="card-title">#Shoal</h4>
                  </div>
                </a>
            </div>
          </li>
          <li class="item">
            <div class="card card-testimonial">
              <img class="card-img-top" src="../static/images/bg5.jpg" alt="Card image cap">
                <a href="{% url 'tag' tag='Dusk' %}" class="card-link">
                  <div class="card-footer">
                    <h4 class="card-title">#Dusk</h4>
                  </div>
                </a>
            </div>
          </li>
          <li class="item">
            <div class="card card-testimonial">
              <img class="card-img-top" src="../static/images/moshall.jpg" alt="Card image cap">
                <a href="{% url 'tag' tag='Hall' %}" class="card-link">
                  <div class="card-footer">
                    <h4 class="card-title">#Hall</h4>
                  </div>
                </a>
            </div>
          </li>
      </div>
    </div>
