{% extends 'frontend/user_interaction.html' %}
(% block format %}
{% load static %}
<!-- {% block title %}<div style="position:absolute;left:158px;top:20px"></div>{% endblock %} -->

<div class="wrapper">
    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="true" style="background-image: url('../assets/img/bg26.jpg');">
      </div>
      <div class="content-center">
        <div class="container">
          <h1 class="title">Record Sound</h1>
          <div class="text-center">
            <a href="#pablo" class="btn btn-primary btn-icon btn-round">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a href="#pablo" class="btn btn-primary btn-icon btn-round">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#pablo" class="btn btn-primary btn-icon btn-round">
              <i class="fab fa-google-plus"></i>

{% block form %}
        <!--Recording Buttons-->
        <!-- <div class="description text-center">
          <p style="padding-right: 15px; padding-left: 15px; text-align: justify;">By sending a recording, you acknowledge that this recording is your own work and, as the copyright holder of this work, you irrevocably grant anyone the right to use this work under the Creative Commons Attribution 4.0. (<a href="https://creativecommons.org/licenses/by/4.0/legalcode">legal code</a>)</p>
        </div> -->


 <div class="description text-center">
          <p style="padding-right: 15px; padding-left: 15px; text-align: justify;">What sounds are around you every day that shape your life? Record them, tell us why they are meaningful to you, and deposit them in the Museum of Sound.
          </p>
          <p style="padding-right: 15px; padding-left: 15px; text-align: justify;">Use the buttons below to start recording your sound. Stop the recording by pressing the 'stop recording' button.
          </p>
          <p style="padding-right: 15px; padding-left: 15px; text-align: justify;">By sending a recording, you acknowledge that this recording is your own work and, as the copyright holder of this work, you irrevocably grant anyone the right to use this work under the Creative Commons Attribution 4.0. (<a href="https://creativecommons.org/licenses/by/4.0/legalcode">legal code</a>)</p>
        </div>
        <br>

        <div class="text-center" id="needdesc" style="color:red; padding-right: 15px; padding-left: 15px; text-align: justify;"></div>
        <br>

        <div class="row">

          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
                <div class="text-center">
                    <font color="red" size="+2"><p></p><div id="Recording"></div></p></font>
                </div>
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <div id="controls">

                  <button class="btn btn-primary" id='recordButton'>Record</button>
                  <button class="btn btn-primary" id='stopButton'>Stop</button>
                  <button class="btn btn-primary" id='sendButton'>Send</button>

                  <div class="text-center">
                        <div id="countdown"></div>
                      <div id = "userrecord"></div>
                      </div>
                    <div class="form-group">
                      <label for="title">Title</label>
                      <textarea class="form-control" id="title" rows="1" maxlength="25"></textarea>
                    <br>
                      <label for="desc">Description</label>
                      <textarea class="form-control" id="desc" rows="3" maxlength="100"></textarea>
                    <br>
                      <label for="tags">Tags</label>
                      <textarea class="form-control" id="tags" rows="1" maxlength="50"></textarea>
                    <br>
                      <label for="location">Location</label>
                      <textarea class="form-control" id="location" rows="1" maxlength="50"></textarea>
                      <button id="getLocation" onclick="getLocation()">Locate me!</button>
                    </div>
<!--                   <button class="btn btn-light" id='loadDesc'>load description</button>   -->
                </div>
              </ul>
            </div>
          </div>
        </div>






        <!--Audio Recorder & Controls-->
        <div class="tab-content tab-space" style="padding-left: 15px; padding-right: 15px;">
          <div class="tab-pane active text-center gallery" id="recording_studio" style="padding-bottom: 0px;">
            <div class="row">
              <div class="col-md-3 ml-auto">
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>


  <script src="{% static 'js/recorder.js' %}"></script>
  <script src="{% static 'js/recorderApp.js' %}"></script>
  <script src="{% static 'js/plugins/js.cookie.js' %}"></script>

{% endblock %}
